<!--Name: MD.Shehab Chowdhury. -->
<!DOCTYPE html>
<head>
<title>||Welcom Page||</title>
</head>

<body>
<p id = "top"></p> 
<h1><mark>Welcome To My WebPage</mark></h1>
<hr>

<a href="login.html"><img src="shehab.jpg" width="200" align="right"></a>
<h3><ins>Introduction</ins></h3>

<p><b>Hello Everyone!!</b>
My name is <b>MD.Shehab Chowdhury</b>.I am only 22 years old.I am a student of <b>Ranada Prasad Shaha University</b>.Department of <b> Computer Science & Engineering</b>.</p>
<hr>

<h3><ins>My Favorite Things</ins></h3>
<br>
<h4>Favorite Fruits</h4>
<ol type ="i">
    <li>Mango</li>
    <li>Grapes</li>
    <li>Orange</li>
    
</ol>

<h4>Favorite Foods</h4>
<ol type ="i">
    <li>Pakistani Briyani</li>
    <li>Chicken Grill</li>
    <li>Noddle</li>
    
</ol>

<h4>Favorite Games</h4>
<ol type ="i">
    <li>Video Games(Action,Shooter)</li>
    <li>Kites</li>
    <li>Batminton</li>
    
</ol>

<h4>Favorite Hobbies</h4>
<ol type ="i">
    <li>GYM</li>
    <li>Movie</li>
    <li>Tour</li>
    
</ol>

<h4>Favorite Actors</h4>
<ol type ="i">
    <li>Salman khan</li>
    <li>Atif Aslam</li>
    <li>Neha Sharma</li>
    
</ol>

<h4>Favorite Persons</h4>
<ol type ="i">
    <li>Ammu,Abbu</li>
    <li>School Friends</li>
    
</ol>

<hr>
<p>CLick On mY <mark>Image</mark> to go to a Demo Login Page</P>
<hr>
<h3>Thank You</h3>
<p><a href="#top">Click Here to go to the Top of the page</a></p>

</body>



</html>
